@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  box-sizing: border-box
}

body {
  margin: auto;
  background-image: url(../img/3.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position:100%;
  zoom: 65%;
 overflow: hidden;
  
}

.title {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  color: rgb(255, 76, 210);
  width: 100%;
  font-family: 'Press Start 2P', cursive;
  font-size: 35px;
  text-shadow: 5px 3px 2px black;
  
}

.smile {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 45px;
  text-shadow: 5px 3px 2px black;
}

.footer {
  text-align: center;
  background-color: rgb(255, 0, 212);;
  color: rgb(0, 0, 0);
  font-family: 'Press Start 2P';
}

.timer {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  color: rgb(166, 255, 0);
  animation: myAnim 2s ease 10s infinite normal forwards;
  font-size: 25px;
  
}

@keyframes myAnim {
  0% {
    animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
  }
  10% {
    animation-timing-function: ease-in;
    transform: scale(0.91);
  }
  17% {
    animation-timing-function: ease-out;
    transform: scale(0.98);
  }
  33% {
    animation-timing-function: ease-in;
    transform: scale(0.87);
  }
  45% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
}

.score {
  font-family: 'Press Start 2P', cursive;
  font-size: 25px;
  text-align: center;
  color:  rgb(238, 255, 0);
  text-shadow: 5px 3px 2px black;
  
}

.flags {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  font-size: 25px;
  color:  rgb(238, 255, 0);
  text-shadow: 5px 3px 2px black;
}

.health {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  font-size: 25px;
  color:  rgb(238, 255, 0);
  text-shadow: 5px 3px 2px black;

}
.board {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 100%;
  
}
.lvl {
  color:  rgb(0, 47, 255);
  background-color: Transparent;
  display: grid;
  justify-content: center;
  border: none;
  font-size: 22px;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 5px 3px 2px black;
  width: 150px;
  height: 50px;
  margin: auto;
  align-items: center;
}
.lvl:hover {
color: rgb(255, 102, 0);
}

.get-hint {
  color:  rgb(81, 255, 0);
  background-color: Transparent;
  border: none;
  font-size: 22px;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 5px 3px 2px black;
  width: 150px;
  height: 50px;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: center;

}

.get-hint:hover {
  color: rgb(255, 102, 0);
}

.board table {
  background: rgba(129, 1, 161, 0.541);
  border: 10px solid rgb(255, 0, 170);
  border-bottom-style:dashed;
  border-top-style: dashed;
  border-left-style:dashed;
  border-right-style:dashed ;
  border-top-color: rgb(148, 0, 106);
  border-left-color: rgb(255, 187, 0);
  border-right-color: hsl(295, 100%, 50%);
  border-bottom-color: hsl(286, 100%, 76%);
  margin: 100px auto;
  text-align: center;
  filter: drop-shadow(5px 1px 220px rgb(0, 0, 0));
  background-position: center;
  background-size: contain;
 
  

}

td {
  vertical-align: middle;
  color:  rgb(255, 251, 17);
  font-size: 24px;
  border-radius: 1px;
  height: 150px;
  margin: 100px;
  display: flex;
  justify-content: center;

}


.cell {
  display: inline-block;
  font-family: 'Press Start 2P', cursive;
  font-weight: bold;
  font-size: 15px;
  text-align:center ;
  width: 2em;
  height: 2em;
  margin: 0;
  outline: none;
  cursor: pointer;
 
  justify-content: center;

}
td.cell:hover {
 background-image: url(../img/pix.jpg);
 background-position: center;
 background-repeat: no-repeat;
 background-size: 5vh;
}
