@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@1,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(14, 13, 13);
  text-align: center;
  background-image: url(img/1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
 
  
}

.title {
  font-family: 'Righteous', cursive;
  color: goldenrod;
  width: 100%;
  font-family: 'Tomorrow', sans-serif;
  font-size: 45px;
  text-shadow: 5px 3px 2px black;
  
}

.smile {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 45px;
  text-shadow: 5px 3px 2px black;
}

.footer {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: 'Tomorrow', sans-serif;
}

.timer {
  font-family: 'Tomorrow', sans-serif;
  animation: myAnim 2s ease 0s infinite normal forwards;
  font-size: 45px;
  
}

@keyframes myAnim {
  0% {
    animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
  }
  10% {
    animation-timing-function: ease-in;
    transform: scale(0.91);
  }
  17% {
    animation-timing-function: ease-out;
    transform: scale(0.98);
  }
  33% {
    animation-timing-function: ease-in;
    transform: scale(0.87);
  }
  45% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
}

.score {
  font-family: 'Righteous', cursive;
  font-size: 25px;
  color:  goldenrod;
  text-shadow: 5px 3px 2px black;
  
}

.flags {
  font-family: 'Righteous', cursive;
  font-size: 25px;
  color:  goldenrod;
  text-shadow: 5px 3px 2px black;
}

.health {
  font-family: 'Righteous', cursive;
  font-size: 25px;
  color:  goldenrod;
  text-shadow: 5px 3px 2px black;
}
.board {
  display: inline-block;
  width: 100%;
  
}
.lvl {
  color:  goldenrod;
  font-size: 22px;
  font-family: 'Tomorrow', sans-serif;
  text-shadow: 5px 3px 2px black;

  background-image: url(/img/1.jpg);
  width: 150px;
  height: 50px;
  border-width: 5px;
  border-bottom: goldenrod;
  border-color: goldenrod;
  transform:skew(-15deg, 0deg);

  
}

.get-hint {
  color:  goldenrod;
  font-size: 22px;
  font-family: 'Tomorrow', sans-serif;
  border-bottom: goldenrod;
  border-color: goldenrod;
  text-shadow: 5px 3px 2px black;
  border-width: 5px;
  background-image: url(/img/1.jpg);
  width: 150px;
  height: 50px;
  transform:skew(-15deg, 0deg);
}

.board table {
  background: rgb(14, 13, 13);
  opacity:0.9;
  border: 0px solid rgb(255, 187, 0);
  border-top-color: rgb(255, 187, 0);
  border-left-color: rgb(255, 187, 0);
  border-right-color: hsl(7, 100%, 50%);
  border-bottom-color: hsl(7, 100%, 50%);
  margin: 100px auto;
  text-align: center;
  filter: drop-shadow(5px 1px 220px rgb(0, 0, 0));
 
  background-position: center;
  background-size: contain;
  

}

td {
  vertical-align: middle;
  color:  goldenrod;
  font-size: 24px;
  ;


  border-radius: 1px;
  height: 150px;
  margin: 100px;
  
 
}



@keyframes cell-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.cell {
  display: inline-block;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
  width: 5em;
  height: 5em;
  margin: 0;
  outline: none;
  
  cursor: pointer;
  animation: cell-pulse 2s ease 0s 1 normal forwards;
  
}

@keyframes cell-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}